.App {
    --header_height: 60px;
}

.hw {
    
}

.hwTitle {
    display: flex;
width: 1280px;
padding: 131px 0px 216px 0px;
justify-content: center;
align-items: center;
color: #000;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}